anyio==3.6.2
black==22.12.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
fastapi==0.89.1
fonttools==4.38.0
greenlet==2.0.2
h11==0.14.0
idna==3.4
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
matplotlib==3.6.3
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
munkres==1.1.4
mypy-extensions==0.4.3
numpy==1.24.1
packaging==23.0
pandas==1.5.3
pathspec==0.11.0
Pillow==9.4.0
platformdirs==2.6.2
ply==3.11
psycopg2-binary==2.9.5
pydantic==1.10.4
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-multipart==0.0.6
pytz==2022.7.1
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
SQLAlchemy==2.0.0
starlette==0.22.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
tornado @ file:///C:/ci/tornado_1662458743919/work
typing_extensions==4.4.0
uvicorn==0.20.0
wincertstore==0.2
